body {
  background-color: black;
  color: white;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 75%;
  height: 75%;
  padding: 20px 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  font-weight: bold;
  cursor: pointer;
  padding: 10px 10px;
  border: 1px solid grey;
  letter-spacing: 2px;
}

th {
  font-size: 21px;
  background-color: wheat;
}

td {
  font-size: 19px;
  background-color: rgb(32, 129, 92);
}
tr:hover td {
  background-color: rgb(140, 197, 175);
}

.footer {
  margin-top: 25px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 7px 15px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

button.active,
button:hover {
  background: linear-gradient(to bottom, #9c9c9c, #111 100%);
}
